.DS_Store
.attic/
.cache/
.venv/
.idea/
.mypy_cache/
.pytest_cache/
.vscode/
__pycache__/
*.pyc
/build
crypto/tests/libtrezor-crypto.so.dSYM/
core/lextab.py
core/yacctab.py
core/src/trezor/enums/*.py
core/src/trezor/messages.py
core/src/all_modules.py
python/src/trezorlib/messages.py